button{
	background:#dddddd;
}

input.ng-dirty.ng-valid{
	background:#ddffdd;
}

input.ng-dirty.ng-invalid{
	background:#ffdddd;
}

body,td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div{
	box-sizing: border-box;
	border : #999999 1px solid;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	width :100%;
}
p{
	margin:4px;
}

input{
	border:1px solid #888888;
	border-radius: 8px;
	padding: 1px 8px 1px 8px;
}

/* afeta todos os scopes. */
div.ng-scope{
	background:#ddddff;
}
/* afeta todos os databindings. */
.ng-binding{
	color:#ff0000;
}



